# Node.js
coverage/
sessions.json
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
logs/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
dist/
build/
pids/
*.pid
*.seed
*.pid.lock